<div class="jumbotron" id="title">
  <h1 class="display-3 text-center">Burger Rush</h1>
  <p class="lead text-center">Add your fav burgers and then devour then</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="unEatenB">
        <h4>unEaten Burgers:</h4>
        {{#each burger}} {{#unless devoured}}
        <div>{{burger_name}}
          <button class="btn btn-outline-success devourBTN float-right" value={{id}}>Devour!</button>
        </div>
        <br> {{/unless}} {{/each}}
      </div>

    </div>
    <div class="col-md-6">
      <div id="EatenB">
        <h4>Eaten Burgers:</h4>
        {{#each burger}}{{#if devoured}}{{burger_name}}
        <br>{{/if}}{{/each}}
      </div>

    </div>
  </div>
  <div class="row">
    <form>
      <div class="form-group">
        <label>What is the next burger you will devour:</label>
        <div>
          <input type="text" class="form-control" id="burger-input" placeholder="Tuna Burger" style="">
          <button class="btn btn-outline-success" id="submitBTN">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>